nav.navigation
  .navigation__wrapper
    .navigation__logo
      a.navigation__logo__link(href=Link('/'))
        figure.navigation__logo__figure
          img.navigation__logo__figure__image(src=Build.image(navigation.logo.asset._ref).url() alt=navigation.logo.alt)
    
    .navigation__menu 
      .navigation__menu__icon
      ul.navigation__list
        each item in navigation.nav_items
          li.navigation__list__item
            a.navigation__list__item__link.hidden(href=Link(item) data-path=item._type)
              p.navigation__list__item__link__text=item.title