extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      header.home__header
        .home__header__topTitle 
          h1.home__header__topTitle__text!=home.header.title.replace(/\n/g, '<br>')
        .home__header__location 
          p.home__header__location__text!=home.header.location.replace(/\n/g, '<br>')
        .home__header__portrait 
          .home__header__portrait__cover
          figure.home__header__portrait__figure 
            img.home__header__portrait__figure__image(data-src=Build.image(home.header.selfPortrait.asset._ref).url() alt=home.header.selfPortrait.alt data-type="delay")
        .home__header__description 
          p.home__header__description__text!=home.header.description.replace(/\n/g, '<br>')
        .home__header__btmTitle 
            h2.home__header__btmTitle__text!=home.header.title.replace(/\n/g, '<br>')

      section.home__showcase 
        .home__showcase__titleTopLeft
          h2.home__showcase__title__text=home.showcaseTitle
        .home__showcase__titleTopRight
          h2.home__showcase__title__text=home.showcaseTitle
        .home__showcase__gallery(data-type="background")
          .home__showcase__gallery__wrapper
            each obj, index in home.showcase 
              .home__showcase__gallery__image
                a.home__showcase__gallery__image__link(href=Link=(`${obj._type}/${obj.slug}`) aria-label=obj.title)
                  figure.home__showcase__gallery__image__figure
                    img.home__showcase__gallery__image__figure__image(alt=obj.image.alt data-src=Build.image(obj.image.asset._ref).url() data-hover=Build.image(obj.image2.asset._ref).url() data-displacement="/img/displacement.jpeg" data-type="circle")
                .home__showcase__gallery__image__title
                  svg.home__showcase__gallery__image__title__svg(xmlns='http://www.w3.org/2000/svg' xml:lang='en' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 500 500')
                    defs
                      path#textcircle.circlepath(d='M250,400\
                      a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z' transform='rotate(12,250,250)')
                    rect(width='100%' height='100%' fill="transparent")
                    text
                      textpath.textpath(xlink:href='#textcircle' aria-label=obj.title textlength='300')=obj.title
          .home__showcase__gallery__link 
            a.home__showcase__gallery__link__work(href=Link=('work'))
              p.home__showcase__gallery__link__work__text see all
              figure.home__showcase__gallery__link__work__icon
                img.home__showcase__gallery__link__work__icon__media(data-animation="scale" data-src="/icons/arrow-up-circle-line.svg" alt="arrow link image")
        .home__showcase__titleBtmLeft
          h2.home__showcase__title__text=home.showcaseTitle
        .home__showcase__titleBtmRight
          h2.home__showcase__title__text=home.showcaseTitle

      section.home__about 
        .home__about__title 
          h2.home__about__title__text(data-animation="triple")=home.aboutSection.title
          h2.home__about__title__text(data-animation="triple")=home.aboutSection.title 
          h2.home__about__title__text(data-animation="triple")=home.aboutSection.title 
        .home__about__info 
          .home__about__info__description 
            p.home__about__info__description__text(data-animation="lsYAlpha")!=home.aboutSection.description.replace(/\n/g, '<br>')
          .home__about__info__link 
            a.home__about__info__link__url(href=Link=('about'))
              p.home__about__info__link__url__text(data-animation="lsYAlpha")=home.aboutSection.learnMore 
              figure.home__about__info__link__url__icon
                img.home__about__info__link__url__icon__media(data-animation="scale" data-src="/icons/arrow-up-circle-line.svg" alt="arrow link image")
        .home__about__left
          .home__about__left__large
            figure.home__about__left__large__figure
              img.home__about__left__large__figure__image(alt=home.aboutSection.leftImages.largeImage.alt data-src=Build.image(home.aboutSection.leftImages.largeImage.asset._ref).url() data-type="static")
          .home__about__left__small
            figure.home__about__left__small__figure
              img.home__about__left__small__figure__image(alt=home.aboutSection.leftImages.smallImage.alt data-src=Build.image(home.aboutSection.leftImages.smallImage.asset._ref).url() data-type="delay" data-size="small")
        .home__about__right
          .home__about__right__large
            figure.home__about__right__large__figure
              img.home__about__right__large__figure__image(alt=home.aboutSection.rightImages.largeImage.alt data-src=Build.image(home.aboutSection.rightImages.largeImage.asset._ref).url() data-type="static")

      footer.footer 
        .footer__proxy
        .footer__icons
          .footer__icons__media
            .footer__icons__media__div.outside__link
              a.footer__icons__media__div__link(href=`mailto:${footer.emailIcon.email}`)
              img.footer__icons__media__div__icon(data-animation="scale" data-src=Build.image(footer.emailIcon.asset._ref).url() alt=footer.emailIcon.alt)
          each icon in footer.contactInformation
            .footer__icons__media
              .footer__icons__media__div.outside__link
                a.footer__icons__media__div__link(href=(icon.link))
                img.footer__icons__media__div__icon(data-animation="scale" data-src=Build.image(icon.asset._ref).url())
        .footer__title 
          h2.footer__title__split(data-animation="scaleX")
          h2.footer__title__text(data-animation="yAlpha")=footer.title
          h2.footer__title__split(data-animation="scaleX")


