extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__showcase
      .home__showcase__wrapper 
        each element in home.showcase 
          .home__showcase__element 
             a.home__gallery__image__link(href=Link=(`${element._type}/${element.slug}`) aria-label=element.title)
              .home__showcase__element__media 
                figure.home__showcase__element__media__figure 
                  img.home__showcase__element__media__figure__image(data-src=Build.image(element.image.asset._ref).url() alt=element.image.alt)